<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Bootstrap Styles-->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />

    <link href="stylesheets/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

  <body>
  <div id="wrapper">
      <nav class="navbar navbar-default top-navbar" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">ADMIN</a>
          </div>


      </nav>
      <!--/. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
          <div class="sidebar-collapse">
              <ul class="nav" id="main-menu">

                  <li>
                      <a  href="/admin"> Orders</a>
                  </li>
                  <li>
                      <a href="/admin/Mens-Watches">MEN</a>
                  </li>
                       <li>
                      <a href="/admin/Womens-Watches"> WOMEN</a>
                  </li>
                  <li>
                      <a class="active-menu" href="/admin/Kids-Watches"> KID</a>
                  </li>



              </ul>

          </div>

      </nav>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
          <div id="page-inner">

            <div class="row">
               <div class="col-md-12">
                   <h1 class="page-header">
                       All orders
                   </h1>
               </div>
           </div>





           <div class="row">
           	<div class="col-md-12 ">
           		<table class="table">
           			<thead>
           				<tr>
           					<th>Name</th>
           				</tr>
           			</thead>
                {{# each products}}
           			<tbody>
                  <td class="smalls">
                    <ul class="list-group" style="list-style-type: none;">
                      {{# each this}}
                        <li>{{this.title}}*</li>

                        {{/each}}
                    </ul>
                  </td>
                  <td class="">
                    <ul class="list-group" style="list-style-type: none;">
                      {{# each this}}
                        <li>  <a href="#">Edit</a></li>

                        {{/each}}
                    </ul>
                  </td>

                  <td class="">
                    <ul class="list-group" style="list-style-type: none;">
                      {{# each this}}
                        <li>  <a href="kids-Watches-delete/{{this._id}}">Delete</a></li>

                        {{/each}}
                    </ul>
                  </td>

           				</tbody>
                  {{/each}}

           		</table>
              <a href="#">New Watch</a>
           	</div>
           </div>




          </div>
          <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
  </div>

  <script src="javascripts/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
  <script src="javascripts/bootstrap.min.js"></script>
  <!-- Metis Menu Js -->
  <script src="javascripts/jquery.metisMenu.js"></script>
  <!-- Morris Chart Js -->
  <!-- Custom Js -->
  <script src="javascripts/custom-scripts.js"></script>


  </body>

</html>
