<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>
    <link rel="icon" href="images/logo.jpg">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="javascripts/jquery-1.11.0.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google" value="notranslate">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script type="text/javascript" src="javascripts/simpleCart.min.js"></script>
    <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="javascripts/memenu.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script type="text/javascript" src="javascripts/jquery.easydropdown.js"></script>
  </head>
  <body>
    {{> header }}
    {{{body}}}


  </body>
</html>
