<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<img src="https://p.w3layouts.com/demos/luxury_watches/web/images/bnr-1.jpg" alt=""/>
				</li>
				<li>
					<img src="https://p.w3layouts.com/demos/luxury_watches/web/images/bnr-2.jpg" alt=""/>
				</li>
				<li>
					<img src="https://p.w3layouts.com/demos/luxury_watches/web/images/bnr-3.jpg" alt=""/>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends-->
	<!--Slider-Starts-Here-->
				<script src="javascripts/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
			  </script>
			<!--End-slider-script-->

      <!--about-starts-->
      	<div class="about">
      		<div class="container">
      			<div class="about-top grid-1">
      				<div class="col-md-4 about-left">
      					<figure class="effect-bubba">
      						<img class="img-responsive" src="https://ak1.ostkcdn.com/images/products/4705921/P12620315.jpg" alt=""/>
      						<figcaption>
      							<h2>Men Watches</h2>
      							<p>In sit amet sapien eros Integer dolore magna aliqua</p>
      						</figcaption>
      					</figure>
      				</div>
      				<div class="col-md-4 about-left">
      					<figure class="effect-bubba">
      						<img class="img-responsive" src="http://www.toysrus.com/graphics/tru_prod_images/Power-Rangers-Dino-Charge-LCD--pTRU1-21904480dt.jpg" height="42" alt=""/>
      						<figcaption>
      							<h4>Kids Watches</h4>
      							<p>In sit amet sapien eros Integer dolore magna aliqua</p>
      						</figcaption>
      					</figure>
      				</div>
      				<div class="col-md-4 about-left">
      					<figure class="effect-bubba">
      						<img class="img-responsive" src="http://www.azzli.com/wp-content/uploads/2013/05/Rolex-18-CT-Yellow-Gold-Luxury-Special-Edition-Watch-by-Rolex-1.jpg" alt=""/>
      						<figcaption>
      							<h4>Woman Watches</h4>
      							<p>In sit amet sapien eros Integer dolore magna aliqua</p>
      						</figcaption>
      					</figure>
      				</div>
      				<div class="clearfix"></div>
      			</div>
      		</div>
      	</div>
      	<!--about-end-->
