	<div class="registers">
		<div class="container">
			<div class="register-top heading">
				<h2></h2>
			</div>
			<div class="register-main">
				<div class="col-md-12 account-left">
          <div class="thankcenter">
            <h1>Thank you for contacting us! </h1>
            <h4>We will get back to you as fast as we can.</h4>

            <h4>For now browse throught our watches</h4><br>
              <a href="/" class="add-cart item_add">Browse Store</a>

          </div>


				</div>

			</div>

		</div>
	</div>
