<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Bootstrap Styles-->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />

    <link href="stylesheets/style.css" rel="stylesheet" />
    <link href="stylesheets/custom-styles.css" rel="stylesheet" />

    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

  <body>
  <div id="wrapper">
      <nav class="navbar navbar-default top-navbar" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">ADMIN</a>
          </div>
      </nav>
      <!--/. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
          <div class="sidebar-collapse">
              <ul class="nav" id="main-menu">

                  <li>
                      <a class="active-menu" href="/admin"> Orders</a>
                  </li>
                  <li>
                      <a href="/admin/Mens-Watches">MEN</a>
                  </li>
                       <li>
                      <a href="/admin/Womens-Watches"> WOMEN</a>
                  </li>
                  <li>
                      <a href="/admin/Kids-Watches"> KID</a>
                  </li>


              </ul>

          </div>

      </nav>


      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
          <div id="page-inner">




            <div class="contact">
              <div class="container">
                <div class="contact-top heading">
                  <h2>New Mem Watch</h2>
                </div>
                  <div class="contact-text">

                    <div class="col-md-10 contact-right">

                      <form action="/new-menwatch" method="post">



                        <input type="text" placeholder="Image" id="image" name="image" required=""><br><br>
                        <input type="text" placeholder="Image Two" id="image2" name="image2" required=""><br><br>
                        <input type="text" placeholder="Image Three" id="image3" name="image3" required=""><br><br>
                        <input type="text" placeholder="Watch Name" id="name" name="name" required=""><br><br>
                        <input type="text"  placeholder="Watch Description" id="description" name="description" required=""><br><br>
                        <input type="text"  placeholder="Watch Price" id="price" name="price" required=""><br><br>
                        <label for="">Is Watch on sale if so type show else type none</label>
                        <input type="text"  placeholder="Watch Sale" id="sale" name="sale" required=""><br><br>

                        <div class="submit-btn">
                          <input type="submit" value="SUBMIT">
                        </div>

                      </form>

                    </div>
                    <div class="clearfix"></div>
                  </div>
              </div>
            </div>







          </div>
          <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
  </div>

  <script src="javascripts/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
  <script src="javascripts/bootstrap.min.js"></script>
  <!-- Metis Menu Js -->
  <script src="javascripts/jquery.metisMenu.js"></script>
  <!-- Morris Chart Js -->
  <!-- Custom Js -->
  <script src="javascripts/custom-scripts.js"></script>


  </body>

</html>
